
<h3>Say Hey to all your friends!<h3>
<h4>Heys are quick comments 50 characters or less. Enter your Hey and click submit</h4>

<section>
<%= form_for(hey) do |f| %>
  <p>
  <%= f.label :body %>
  <%= f.text_field :body %>
  </p>
  <%= f.submit %>
<% end %>
</section>
